include layout

nav
 div(id="mainlink")
  a(href="./")
   h1 Weight Tracker
 div(id="submenuContainers")
  list(id="submenu")
   li
    a(href="/weightinputform" class="subLink") Add Weight
   li
    a(href="/viewall" class="subLink") View all

